/*
	xfce4-panel config
	~z@zvava.org

	because !important does not work in the great domain of gtk's css, all
	the settings that apply to many elements at once overriding shorthands
	are all at the bottom of the botom 
*/

#XfcePanelWindow {
	background-color: transparent;
}

/* whisker */

#whiskermenu-button label {
	margin-left: 4px;
}

/* notes */

#launcher-23 > box {
	padding-top: 9px;
}

#launcher-arrow {
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	padding: 5px 9px 4px 9px;
	background-color: rgba(0, 0, 0, 0.5);
	color: #dddddd;
	margin-bottom: 0;
}

#launcher-23 .flat.toggle {
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	padding: 15px 11px 0 11px;
	background-color: rgba(0, 0, 0, 0.5);
	color: #dddddd;
	margin-bottom: 0;
}

/* places */

#places-9 button box box label {
	margin-left: 4px;
}

/* workspaces + taskbar */

#pager-4 { margin: 4px; }
#pager-4 #xfce-panel-toggle-button label { padding: 0 5px; }

#pager-4 #xfce-panel-toggle-button:first-child,
#tasklist-2 .toggle:not(#panel-tasklist-arrow):not(:disabled):nth-child(2) {
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

#pager-4 #xfce-panel-toggle-button:last-child,
#tasklist-2 .toggle:not(#panel-tasklist-arrow):not(:disabled):last-child {
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

#tasklist-2 > box > width {
	border-radius: 5px;
	
}

/* weather */

#weather-18 #xfce-panel-toggle-button image {
	margin-right: 4px;
}

/* system tray + pavu */

#systray-6 > box {
	padding-left: 2px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

#sn-button {
	margin-bottom: 9px;
}

#systray-6 .flat.toggle:hover, #systray-6 .flat.toggle:checked,
#sn-button:hover, #sn-button:checked { background-color: rgba(0, 0, 0, 0.5); }

#systray-6 .flat.toggle:hover { color: white; }

#pulseaudio-button {
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

#pulseaudio-button .recording-indicator { margin: 0 4px; }
#pulseaudio-button .recording-indicator + * { margin: 0 5px; }

/* system usage */

#genmon-16 .genmon_plugin {
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	padding: 0 5px 0 10px;
}

#genmon-7 .genmon_plugin {
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	padding: 0 10px 0 5px;
}

/* clock */

#clock-button {
	
}

/* globals */

#whiskermenu-button, #clock-button, #places-9 button,
#weather-18 #xfce-panel-toggle-button,
#systemload-7 > widget > box {
	border-radius: 5px;
	padding: 0 10px;
}

#whiskermenu-button, #clock-button, #pulseaudio-button,
#tasklist-2 .toggle, #places-9 button, #systray-6 > box,
#systemload-7 > widget > box, #xfce_sensors > box, .genmon_plugin, #cpugraph-21 box,
#pager-4 #xfce-panel-toggle-button, #weather-18 #xfce-panel-toggle-button {
	background-color: rgba(0, 0, 0, 0.5);
	color: #dddddd;
	margin-top: 9px;
	margin-bottom: 0;
}

#whiskermenu-button:hover, #whiskermenu-button:checked, #clock-button:hover, #clock-button:checked,
#pulseaudio-button:hover, #pulseaudio-button:checked, #launcher-arrow:hover, #launcher-23 .flat.toggle:hover, #launcher-23 .flat.toggle:checked,
#places-9 button:hover, #places-9 button:checked, #tasklist-2 .toggle:hover, #tasklist-2 .toggle:checked,
#weather-18 #xfce-panel-toggle-button:hover, #weather-18 #xfce-panel-toggle-button:checked,
#pager-4 #xfce-panel-toggle-button:hover, #pager-4 #xfce-panel-toggle-button:checked {
	background-color: rgba(0, 0, 0, 0.8);
}

/* left margin */
#whiskermenu-button { margin-left: 325px; }
/* right margin */
#clock-button { margin-right: 325px; }

#XfcePanelWindow, #clock-button * {
	font-family: "Ubuntu Regular";
	font-size: 14px;
}
